<div class="links flex">
  <a href="slack://open?team=T01AG227QN5" target="_blank">
    <img src="/assets/icons/slack-brands.svg" alt="slack logo" />
    <strong>Slack</strong>
  </a>
  <a href="https://trello.com/myndinitiativeinc" target="_blank">
    <img src="/assets/icons/trello-brands.svg" alt="trello logo" />
    <strong>Trello</strong>
  </a>
  <a href="https://drive.google.com/drive/folders/0B5JoTe9rdtY3fnNGT3NCOUJFMjBuUGZZRFRiLUVFdzdSTFRkOXJDdDZKVEhWZ0tpTkxrLWc?usp=sharing" target="_blank">
    <img src="/assets/icons/google-drive-brands.svg" alt="google drive logo" />
    <strong>Drive</strong>
  </a>
  <a href="https://mail.google.com/a/myndinitiative.org" target="_blank">
    <img src="/assets/icons/envelope-solid.svg" alt="email icon" />
    <strong>Email</strong>
  </a>
</div>