<div class="sidebar flex-column">
  <div class="logo">
    <img src="/assets/logo.png" alt="MYND Initiative Inc. logo" />
  </div>
  <nav>
    <div class="nav-link dashboard-link active">
      <img class="icon nav-icon" src="/assets/icons/home-solid.svg" alt="home icon" /><a>Dashboard</a>
    </div>
    <div class="nav-link induction-link">
      <img class="icon nav-icon" src="/assets/icons/user-plus-solid.svg" alt="user with plus icon" /><a>Induction</a>
    </div>
    <div class="nav-link hours-link">
      <img class="icon nav-icon" src="/assets/icons/clock-solid.svg" alt="clock icon" /><a>My Hours</a>
    </div>
    <div class="nav-link members-link">
      <img class="icon nav-icon" src="/assets/icons/address-book-solid.svg" alt="address book icon" /><a>Members</a>
    </div>
    <div class="nav-link policies-link">
      <img class="icon nav-icon" src="/assets/icons/file-alt-solid.svg" alt="file icon" /><a>Policies</a>
    </div>
    <div class="nav-link resources-link">
      <img class="icon nav-icon" src="/assets/icons/window-restore-solid.svg" alt="windows icon" /><a>Resources</a>
    </div>
    {{!-- <div class="nav-link meetings-link">
      <img class="icon nav-icon" src="/assets/icons/calendar-alt-solid.svg" alt="calendar icon" /><a>Meetings</a>
    </div> --}}
    {{!-- <div class="nav-link request-leave-link">
      <img class="icon nav-icon" src="/assets/icons/user-alt-slash-solid.svg" alt="user with slash icon" /><a>Request Leave</a>
    </div> --}}
  </nav>
  <div class="flex flex-center">
    {{!-- TODO: replace with user image --}}
    <img class="avatar sidebar-avatar edit-profile-link" src="{{user.avatar}}" alt="user avatar" />
    <a href="/logout"><img class="icon logout-link" src="/assets/icons/sign-out-alt-solid.svg" alt="logout icon" /></a>
  </div>
  <p class="credit">Volunteer Portal built by Caterina Turnbull</p>
</div>