* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-color: #444b44;
  --feature-color: #23a455;
  --sidebar-hover-color: #818781;
  --background-color: #dadedb;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
}

/* TYPOGRAPHY --------- */

a, h1 {
  color: var(--feature-color);
}

a {
  text-decoration: underline;
}

a, button, select, input[type="datetime-local"] {
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

p {
  line-height: 1.75rem;
  color: black;
}

/* LAYOUT -------------- */

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.flex {
  display: flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

/* flex gutter */
.flex > :not(:last-child) {
  margin-right: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* vertical flex gutter */
.flex-column:not(.sidebar) > :not(:last-child) {
  margin-bottom: 20px;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.page-content {
  padding: 40px;
  display: flex;
  margin-top: 180px;
  margin-left: 200px;
  transition: margin-top 1s ease;
}

.page-content.hour-logging-closed {
  margin-top: 0;
}

.tooltip {
  width: 50px;
  text-align: center;
  background-color: var(--background-color);
}

.avatar {
  border-radius: 50%;
}

/* GLOBAL FORMS --------- */

input, select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  background-color: transparent;
  outline: none;
  height: 3.5em;
}

input, select, button {
  font-family: 'Lato', sans-serif;
}

button {
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: var(--feature-color);
  border-width: 3px;
  color: var(--feature-color);
  background-color: transparent;
  font-weight: 900;
}

button:hover {
  background-color: var(--feature-color);
  color: white;
}

input[type="file"] {
  border: none;
}

input.upload-avatar::-webkit-file-upload-button {
  visibility: hidden;
}

input.upload-avatar::before {
  content: 'Choose photo';
  background-color: var(--feature-color);
  color: white;
  display: inline-block;
  border: none;
  padding: 10px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

/* input.upload-avatar + button {
  background-color: var(--feature-color);
  color: white;
  padding: 10px;
  text-transform: none;
  font-weight: 400;
} */

/* input.upload-avatar + button:hover, input.upload-avatar:hover::before {
  background-color: var(--dark-color);
} */

/* PROFILE -------------- */

.dashboard-details > .flex > div:first-child {
  text-align: center;
}

.dashboard-details .details-avatar {
  width: 200px;
  border: 4px solid white;
  display: block;
  margin: 0 auto;
}

/* SIDEBAR -------------- */

.sidebar {
  background-color: var(--dark-color);
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 200px;
  min-width: 200px;
  color: white;
}

.sidebar .logo {
  border-bottom: white 2px solid;
  padding: 15px;
}

.sidebar .logo img {
  width: 100%;
}

.sidebar nav {
  flex-grow: 1;
}

.sidebar .nav-link {
  padding: 15px 30px;
  display: flex;
}

.sidebar .nav-link:hover:not(.active) {
  background-color: var(--sidebar-hover-color);
  cursor: pointer;
}

.sidebar .nav-link.active {
  background-color: var(--feature-color);
}

.sidebar .nav-link.active > a {
  cursor: default;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar .nav-icon {
  width: 20px;
  margin-right: 15px;
}

.sidebar .sidebar-avatar {
  width: 70px;
  margin: 15px 20px;
  margin-left: 0;
  border: white 3px solid;
}

.sidebar .logout-link {
  width: 30px;
}

.sidebar .credit {
  text-align: center;
  padding: 15px;
  font-size: .75em;
  color: white;
  line-height: 1.25em;
}

/* HOUR LOGGING ---------- */

.hour-logging {
  background-color: var(--feature-color);
  min-width: calc(100vw - 200px);
  padding: 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 200px;
  height: 180px;
  transition: top 1s ease;
}

.hour-logging.closed {
  top: -180px;
}

.hour-logging form.flex {
  justify-content: space-between;
}

.hour-logging form > div > div {
  width: 100%;
}

.hour-logging form input, .hour-logging form select, .hour-logging form button {
  border-color: white;
  color: white;
}

.hour-logging form input::placeholder {
  color: white;
}

.hour-logging form button:hover {
  background-color: white;
  color: var(--feature-color);
}

.hour-logging .close-hour-logging {
  text-align: right;
}

.hour-logging .close-hour-logging img {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 15px;
}

.hour-icon {
  width: 20px;
  position: absolute;
  right: 40px;
  bottom: calc(50% - 15px);
}

.open-hour-logging {
  text-align: center;
  cursor: pointer;
}

.open-hour-logging > div {
  font-size: 1.25em;
  display: inline;
  position: relative;
  padding: 5px 25px;
  border-radius: 0 0 15px 15px;
  background-color: var(--feature-color);
}

/* LINKS -------------- */

.links {
  margin: 0 15px;
}

.links > a {
  background-color: var(--feature-color);
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 100px;
}

.links > a:hover {
  background-color: var(--dark-color);
}

.links > a:not(:last-child) {
  margin-right: 20px;
}

.links img {
  height: 50%;
  margin-bottom: 10px;
}

/* TABLE STYLING --------- */

table {
  width: 100%;
  text-align: left;
}

thead {
  background-color: var(--feature-color);
  color: white;
  font-weight: 900;
}

tr:nth-child(even) {
  background-color: white;
}

td, th {
  padding: 10px;
}

td:not(thead td):first-child {
  font-weight: 900;
}